 body {
    height: 100%;
  }
  .principal {
    background-image: url(../assets/imagenes/Imagenes-todavia-sirve/Horizontales/op12.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
  }
  .contenedor-general {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }