.flex-container-foot {
    flex-grow: 0;
    background-color: $backgroundcolor-principal;
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    align-content: center;
    align-items: center;
    justify-content: center;
    a {
        color: white;
        font-family: sans-serif;
        font-style: normal;
        padding: 10px;
        text-decoration: none;
      }
  }
   
  