.main-objetivos {
    .objetivo-contacto {
        @extend .objetivo-principal;
        text-align: center;
    }

    .objetivo-principal p {
        text-align: center;
    }
    .box-contacto{
        
        width: 250px;
        height: 100px;
        border-radius: 5px;
        background-color: rgba(217, 217, 217, 1);
        border-style: groove;
        text-align: center;
        
    }
    .box-email-contacto {
        width: 250px;
        height: 25px;
        border-radius: 5px;
        background-color: rgba(217, 217, 217, 1);
        border-style: groove;
        text-align: center;
    }
    .enviar-mensaje {
        display: flex ;
        justify-content: center;
        align-items: center;
         margin: 10px;
    

    }
}