@media (max-width: 655px) {
    article h1 {
      padding: 3%;
    }

    .app {
      padding: 4px;
    }
  
    .descargar {
      width: 15px;
      vertical-align: bottom;
    }
  
    .flex-container-foot a {
      padding: 3px;
      font-size: small;
    }
  }