@media (max-width: 768px) {
   
  
    
  .flex-container-form {
    flex-direction: column;
    align-items: center;

  }

  @media ( max-width: 768px) {
    .container-todo {
    max-width: 100%;
    height: 100%;
    }

  }

  }